extends layout


block header
  nav(class="navbar navbar-expand-lg navbar-light bg-ligh border-bottom bg-gray sticky")
    a(class="navbar-brand" href="/") joshua polzin

    button(
      class='navbar-toggler' 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarNavCollapse"
      aria-controls='navbarNavCollapse'
      aria-expanded='false'
      aria-label='Toggle navigation'
    )
      span(class='navbar-toggler-icon')


    div(class="collapse navbar-collapse" id="navbarNavCollapse")
      ul(class="nav navbar-nav list-unstyled")
        each val in ["projects", "experience", "education", "skills", "contact"]
          if val === "projects"
            - link = "/projects/"
          else
            - link = "/#" + val
          - let classes = "nav-item"
          - if (val === page)
            - classes += " active"

          li(class= classes) 
            a(class="nav-link" href=link) #{val}

mixin project(proj)
  .project-block
    .project-title
      h3.text-inline #{proj.title}
      p.project-title-text.text-inline #{proj.company} | #{proj.dateString}
    .project-divider
    .project-body
      p #{proj.body}
    each tag in proj.tags
      +projectTag(proj.tag)

mixin starRating(rating, total)
  - rating -= 1
  .star-block
    - let n = 0;
    while n < total
      if n <= rating
        p &#x2605
      else
        p &#x2606
      - n += 1;

mixin experience(proj)
  .project-block
    - console.log(proj.imgLogo)
    .experience-title
      h3.experience-title-company #{proj.company}
      p.experience-title-text #{proj.title} | #{proj.dateString}

    .project-divider
    .inline
      img(src=proj.imgLogo).companyLogo
      .project-body
        p #{proj.body}



mixin subheading(text)
  .subheading-container
    h2.subheading-text #{text}
    .subheading-divider

mixin anchor(id)
  .anchor
    a(id=id)

mixin projectTag(tag)
  - var color = "gray"
  - var textColor = ""
  if tag === "C#"
    - color = "black"
    - textColor = "light"
  else if tag === "C++"
    - color = "yellow"
    - textColor = "dark"
  div.project-tag(class=color)
    p #{tag}